[Unit]
Description=Livelife HTTPS API gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=livelife
Group=livelife
PIDFile=/opt/livelife/gateway/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -p /opt/livelife/gateway/ -c /opt/livelife/gateway/nginx.conf -t
ExecStart=/usr/sbin/nginx -p /opt/livelife/gateway/ -c /opt/livelife/gateway/nginx.conf
ExecReload=/usr/sbin/nginx -p /opt/livelife/gateway/ -c /opt/livelife/gateway/nginx.conf -s reload
ExecStop=/usr/sbin/nginx -p /opt/livelife/gateway/ -c /opt/livelife/gateway/nginx.conf -s quit
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
